.listContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.listContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listContainer div h1 {
    font-size: 45px;
    font-weight: 600;
    font-style: italic;
}

.pokeballLoading {
    margin-top: 20px;
    width: 30%;
    height: auto;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}